* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upper-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 105, 0);
    box-shadow: 2px 0px 15px 2px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    margin: auto;
}
.product-category {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: auto;
    color: white;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.login-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: auto;
}