* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.upper-bar {
    display: flex;
/*     align-items: center;
    justify-content: space-between; */
    background-color: rgb(255, 105, 0);
    box-shadow: 2px 0px 15px 2px;
    position: fixed;
    top: 0;
/*     left: 0; */
    height: 50px;
    width: 100%;
/*     margin: auto; */
    z-index: 1;
}
.page-container  {
    margin: 0 auto;
}
.product-category {
    display: flex;
/*     justify-content: space-between; */
    gap: 10px;
    margin: auto;

}
.product-category a {
    color: white;
    text-decoration: none;
}
.logo {
    display: flex;
/*     justify-content: center;
    align-items: center; */
    margin: auto;
}
.login-cart {
    display: flex;
/*     justify-content: space-between;
    align-items: center; */
    gap: 10px;
    margin: auto;
}
.all-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    margin: 5% 12.5%;

}
.product-container {
    width: calc(100%/3 - 10px);
}
#product-image-a, #product-image-b, #product-image-c, #product-image-d, #product-image-e, #product-image-f {
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}
#product-image-a {
    background-image: url(../img/1.webp);
}
#product-image-b {
    background-image: url(../img/2.webp);
}
#product-image-c {
    background-image: url(../img/3.webp);
}
#product-image-d {
    background-image: url(../img/4.webp);
}
#product-image-e {
    background-image: url(../img/5.webp);
}
#product-image-f {
    background-image: url(../img/6.webp);
}
.product-tags {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 40px;
    color: white;
    font-weight: bold;
/*     left: 5px; */
}
.discount {
    background-color: red;
    padding: 3px 9px;
}
.eco-friendly {
    background-color: green;
    padding: 3px 9px;
}
.new-price {
    color: red;
    font-weight: bolder;
}
.original-price {
    text-decoration: line-through;
}
.product-name {
    font-weight: bold;
    font-size: 20px;
}
.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 45px;
    right: 0px;
    height: 50px;
    width: 50px;
    background-color: white;
}
.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    
}
.company-name, .social-media {
    margin: 0 12.5%;
}
.privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
   
}
.privacy a {
    color: white;
    text-decoration: none;
}

.social-icon {
    display: flex;
    gap: 10px;
    margin-top: 10px ;
}

.social-media a {
    text-decoration: none;
    color: white;
}
.heart:hover {
    color: red;
}